body.menuUp {
    background-attachment: fixed;
    /*background-image: url(http://opengameart.org/sites/default/files/sun_softer.png);*/
    background-image: url(http://opengameart.org/sites/default/files/space.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#menu img::selection {
    background: rgba(0,0,0,0);
}