@-webkit-keyframes scroll {
    0%   { background-position: 100%; }
    50% { background-position: 50%; }
	100% { background-position: 100%; }
}
@-moz-keyframes scroll {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes scroll {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

html, body {
    margin: 0px;
    padding: 0px;
    border: none;
    width: 100%;
    height:100%;
}
html {
    display: table;
}
body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: black;
}
canvas {
    border: 1px solid silver;
}
canvas.space {
    background-image: url(http://deadlyredcube.com/journal/starfield.jpg);
    -webkit-animation: scroll 5s infinite;
    -webkit-animation-timing-function: linear;
}
#menu {
    font-family: SegoeWPRegular, mono;
    //height: 95%;
    overflow: hidden;
    margin: 0 auto;
    //padding: 10px;
    //width: 95%;
    text-align: center;
}
#menu ul {
    //width: 100%;
    //height: 100%;
    margin: 0px;
    padding: 0px;
}
#menu ul {
    max-width: 620px;
    display: inline-block;
}
#menu li {
    list-style: none;
    display: inline-block;
    margin: 5px;
    background-color: skyblue;
    //height: 20%;
    //width: 16.6%;
    cursor: pointer;
    width: 295px;
    height: 195px;
    //position: relative;
    //top: 150px;
}
/*#menu li:nth-child(even) {
    margin-left: 5px;
}
#menu li:nth-child(odd) {
    margin-right: 5px;
}
#menu li:nth-child(1), #menu li:nth-child(2) {
    margin-bottom: 5px;
}
#menu li:nth-child(3), #menu li:nth-child(4) {
    margin-top: 5px;
}*/
#menu li img {
    height: 150px;
}
#menu li:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
#menu li h2 {
    //color: white;
    //text-shadow: 0px -1px 0 #888;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 50px;
}

/*@media only screen and (max-width: 550px) {
  #menu li {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 99%;
  }
}
/* Browser Size Media Queries *

@media only screen and (max-width: 1000px) {
  #menu li {
    width: 12.5%;
  }
}

@media only screen and (max-width: 750px) {
  #menu li {
    width: 16.5%;
  }
}

@media only screen and (max-width: 550px) {
  #menu li {
    width: 33%;
  }
}

@media only screen and (max-height: 600px) {
  #menu li {
    height: 20%;
  }
}*/